{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="node_modules/cropperjs/dist/cropper.css">
    <style>
        #img-result img {
            max-width: 100%;
        }
    </style>
{% endblock %}


{% block title %}
    Product - Create
{% endblock %}

{% block main %}
{#    <form action="#" method="post" enctype="multipart/form-data">#}
    <form action="#" method="post">
        <div class="input-field">
            <label for="name">Product name</label>
            <input id="name" type="text" required name="name"
                   value="{{ product.name }}">
            <span class="helper-text red-text">{{ errors.name }}</span>
        </div>
        <div class="input-field">
            <textarea id="description" class="materialize-textarea"
                      data-length="1000" name="description">{{ product.description }}</textarea>
            <label for="description">Description</label>
            <span class="helper-text red-text">{{ errors.description }}</span>
        </div>
        <div class="input-field">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" required
                   value="{{ product.price }}">
            <span class="helper-text red-text">{{ errors.price }}</span>
        </div>
        <div class="input-field">
            <label for="discount">Discount</label>
            <input type="number" min="0" max="50" id="discount" name="discount"
                   value="{{ product.discount }}">
            <span class="helper-text red-text">{{ errors.discount }}</span>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>Image</span>
                <input type="file">
                <span class="helper-text red-text">{{ errors.image }}</span>
                <input type="hidden" name="image" value="{{ product.image }}">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div id="img-result">
            {% if product.image is not null %}
                <img src="{{ product.image }}">
            {% endif %}
        </div>
        <div class="input-field">
            <input class="btn" type="submit" value="Create">
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="node_modules/cropperjs/dist/cropper.js"></script>
    <script src="node_modules/jquery-cropper/dist/jquery-cropper.js"></script>
    <script>
        M.CharacterCounter.init(document.getElementById("description"));
        let fileInput = document.querySelector("input[type=file]");
        fileInput.addEventListener("change", function() {
            let file = this.files[0];
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = (function () {
               let base64img = this.result;
               let div = document.getElementById("img-result");
               div.innerHTML = `
                   <img
                        src="${base64img}" alt="${file.name}">
               `;

               // ouvrir cropper

                let image = $("#img-result>img");
                image.cropper({
                    aspectRatio: 16/9,
                    cropend: function(e) {
                        let canvas = image.cropper("getCroppedCanvas");
                        let base64 = canvas.toDataURL("image/png");
                        let imageField = $("input[name=image]");
                        imageField.val(base64);
                    }
                });

                image.data('cropper');
            });
        });
    </script>
{% endblock %}



