{% extends "base.html.twig" %}

{% block title %}
    Product - Index
{% endblock %}

{% block main %}
    <div class="row">
        <a href="?controller=product&method=create" class="btn blue">New</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td><a href="?controller=product&method=delete&id={{ product.id }}"
                       class="btn red white-text">
                        DELETE
                    </a>
                    <a href="?controller=product&method=update&id={{ product.id }}"
                       class="btn green white-text">
                        UPDATE
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


