<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <met http-equiv="X-UA-Compatible" content="ie-edge">
    <title> Twig Demo - Home </title>
</head>
<body>
    <h1> Quelques "filters" sur les chaines de caractères</h1>
    <p> Ma chaine : {{ chaine}}</p>
    <p> En majuscule: {{ chaine | upper }}</p>
    <p> En majuscule: {{ chaine | lower }}</p>
    <p> title case : {{ chaine | title }}</p>

    {% set chaine2 = '<a href="http://www.google.com">google</a>' %}
    <p> Lien vers le site : {{ chaine2 }} </p>
    <p> chaine 'raw' (non échapée): {{ chaine2 | raw }}
    
    <h1> Quelques "filters" sur les dates</h1>
    <p> epoch : {{ date | date('Y-m-d')}} </p>
    <p> epoch (date+heure) : {{ date | date('d/m/Y H:i:s')}} </p>
    <p> epoch : {{ 'now' | date('Y-m-d H:i:s')}} </p>

    <h1> Quelques "filters" sur les nombres</h1>
    <p> Arrondi : {{nombre | round(4)}}</p>

    <p> Example suivant : <a href="?method=loops">Boucles</a></p>

</body>
</html>