<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title> Twig Demo - Home </title>
</head>
<body>
    {# un commentaire Twig #}

    <p> ma variable : {{ nomDeLaVariableDansTwig }}  </p>
    {% set variable = 15 %}

    {% if variable == 1 %}
        <p> il y a une minute </p>
    {% elseif variable < 10 %}
        <p> il y a {{ variable }} minutes </p>
    {% else %}
        <p> il y a très longtemps </p>
    {% endif %}

    <p> Example suivant: <a href="?method=filters"> Filters </a></p>
</body>
</html>