<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <met http-equiv="X-UA-Compatible" content="ie-edge">
    <title> Twig Demo - Home </title>
</head>
<body>

    <p> Nombre d'éléménts : {{ liste | length }} éléments</p>
    <p> Affichage </p>
    <ul>
        {% for row in liste %}
            <li> {{ row }} </li>
        {% endfor %}
    </ul>
    <p> Affichage inversé </p>
    <ul>
        {% for row in liste | reverse %}
            <li> {{ row }} </li>
        {% endfor %}
    </ul>
    <p>
        {% for row in liste %}
            <span class = "{{ loop.index % 2 == 0 ? "rouge" : "vert" }}">
                {{ loop.index }}.{{row}}{{not loop.last ? ',' :''}}
            </span>
        {% endfor %}
    </p>
    <style>.rouge {color: red;}.vert{color:green;} </style>
</body>
</html>