<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p class="{{ product.discount != 0 ? "barre" : "" }}">{{ product.price }}</p>
    {% if product.discount != 0 %}
        <p>{{ product.priceWithDiscount }}</p>
    {% endif %}
    <style>.barre { text-decoration: line-through }</style>

{#    <h1><?php echo product->getName() ?></h1>#}
{#    <p><?php echo product->getDescription() ?></p>#}
{#    <p class="<?php echo product->getDiscount() != 0 ? 'barre' : '' ?>">{{ product.price }}</p>#}
{#    <?php if(product->priceWithDiscount !=0) { ?>#}
{#        <p><?php echo product->getPriceWithDiscount() ?></p>#}
{#    <?php } ?>#}
{#    <style>.barre { text-decoration: line-through }</style>#}
    <a href="?method=heritage">Héritage</a>
</body>
</html>